/* --- GENERAL --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
} 

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F4FC;
}

main {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block; /*Lo aplico para quitar el margen inferior por defecto de todas las imágenes*/
}

h1 {
  font-size: 2.2rem;
  padding-bottom: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  padding: 2rem;
  color: black;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #072AC8;
  color: white;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
}

/* --- HEADER --- */

#header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  padding: 1.5rem;
}

.header-cont-1 {
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: auto;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  
}

.header-cont-2 {
  flex: 2;
  display: flex;
  justify-content: center;
 }

#nav-menu {
  display: none; /*Con ello dejo oculto el menú por defecto*/
  flex-direction: column;
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  }

#nav-menu.active {
  display: flex; /*Cuando se activa (clase .active), se muestra*/
}

#nav-menu ul {
  list-style: none;  
}

.nav-link {
  color: #072AC8;
  font-weight: bold;
  text-decoration: none;
}

.nav-button {
  text-decoration: none;
  color: white;
  background-color: #072AC8;
  font-weight: bold;
  padding: 0.5rem 0.5rem;  
  border-radius: 0.5rem;
}

.header-cont-3 {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}

#menu-hamburger {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.bar {
  width: 1.5rem;
  height: 0.3rem;
  background-color: none;
  background: #6B708D;
  border-radius: 0.5rem;
}

/* --- HERO SECTION --- */

#hero {
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem 0rem 2rem;
  flex-direction: column;
  align-items: center;
}

.hero-cont-1 p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  font-weight: lighter;
}

.hero-cont-links {
  display: flex;
  padding-bottom: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #6B708D;
}

.hero-cont-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2rem 0rem 2rem 0rem;
}

/* --- LOGOS SECTION --- */

#logos {
  display: flex;
  width: 100%;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  padding: 2rem 0rem 2rem 0rem;
}

#logos img {
  padding: 1.5rem;
  filter: saturate(0%);
  transition: filter 0.3s ease;
}

#logos img:hover {
  filter: saturate(100%);
}

/* --- PROJECTS SECTION --- */

#projects-feed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items:flex-start;
}

.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 2rem 0rem 2rem;
}

.projects a {
  text-decoration: none;
}

.projects-cont {
  background-color: white;
  margin-bottom: 2rem;
}

.projects-cont:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.projects-cont h3 {
  font-size: 1.5rem;
  color: black;
  padding: 1rem 1rem 0.5rem 1rem;
}

.projects-cont h4 {
  font-size: 1rem;
  padding: 0rem 1rem 2rem 1rem;
  font-weight: lighter;
  color: #6B708D;
}

.projects-cont p {
  display: inline-block;
  padding: 1rem;
  font-weight: bolder;
  color: #072AC8;
}

.projects-cont p:hover {
  text-decoration: underline;
}

/* --- TESTIMONIALS SECTION --- */

#testimonials {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.testimonials-cont {
  margin: 2rem 1rem 3rem 1rem;
  padding: 5rem 1rem 3rem 1rem;
  background-color: #292E47;
  background-image: url("testimonial-section/orbit.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials-cont h2 {
  color: white;

}

.testimonials-cont h4 {
  width: 100%;
  font-size: 1rem;
  font-style: italic;
  padding: 1rem 0rem 2rem 0rem;
  font-weight: normal;
  color: #FFC600;
}

.review {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.review img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #F2F4FC;
  margin-right: 1rem;
}

.review p {
  font-size: 1rem;
  text-align: left;
  color: #A2D6F9;
}

.booking {
  color: white;
}

/* --- SERVICES SECTION --- */

#services {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding: 1rem;
}

#services h2 {
  padding-bottom: 4rem;
}

.services-cont {
  display: flex;
  max-width: 100%;
  background-color: white;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.services-cont:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.services-cont img {
  margin: 2rem 1rem 1rem 1rem;
  padding: 0.5rem;
  background-color: #D1EDFF;
  border-radius: 50%;
}

.services-cont h3 {
  font-size: 1.5rem;
  padding: 1rem;
  color: black;
}

.services-cont h4 {
  font-size: 1rem;
  padding: 0rem 1rem 2rem 1rem;
  font-weight: lighter;
  color: #6B708D;
}

.services-cont a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  font-weight: bolder;
  color: #072AC8;
}

.services-cont a:hover {
  text-decoration: underline;
}

/* --- NEWSLETTER SECTION --- */

#newsletter {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}

.newsletter-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  background-color: #FFC600;
  margin: 1rem;
  padding: 1rem 1rem 3rem 1rem;
}

.newsletter-cont h2 {
  padding: 1rem 1rem 3rem 1rem;
}

.newsletter-cont h4 {
  font-size: 1.3rem;
  font-weight: normal;
  padding-bottom: 3rem;
}

.input-box {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.mail-icon {
  position: absolute;
  width: 4rem;
  height: auto;
  padding-left: 2rem;
}

.input-box input {
  padding: 1rem 0rem 1rem 5rem;
  font-size: 1rem;  
}

/* --- FOOTER --- */

#footer {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-cont-1 a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-cont-1 p {
  padding: 2rem;
  text-align: center;
}

.footer-cont-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.footer-cont-2 li {
  padding: 1rem;
}

.footer-cont-2 a {
  text-decoration: none;
  color: #072AC8;
  filter: saturate(0%);
}

.footer-cont-2 a:hover {
  text-decoration: underline;
  filter: saturate(100%);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #6B708D;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.1rem solid white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
  animation: bounce 1.2s infinite ease-in-out;
}
.scroll-to-top.visible {
  opacity: 1;
  pointer-events: auto;
}

/* --- CONTACT PAGE --- */

#form-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

#form-cont h2 {
  padding: 0rem 0rem 2rem 0rem;
}

#form-cont form {
  width: 100%;
}

#form-cont p {
  font-size: 1rem;
  padding: 0rem 0rem 0.5rem 0rem;
  font-weight: normal;
  color: #6B708D;
}

#form-cont input, textarea {
  background-color: #E1E3F0;
  width: 100%;
  padding: 1rem 0rem 1rem 0.5rem;
  border: none;
}

#form-cont input::placeholder, textarea::placeholder {
  color: #6B708D;
}

#form-cont button {
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  margin-bottom: 2rem;
}

.input-group img {
  display: flex;
  position: absolute;
  width: 1rem;
  left: 74vw;
  top: 3.5vh;
}

.input-error {
  outline: 0.1rem solid red;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
  display: flex;
}

/* --- PROJECTS PAGE --- */

#dinamic-project {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.dinamic-title{
  font-size: 2rem;
}

.dinamic-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.dinamic-description {
  font-size: 0.8rem;
  color: #6B708D;
  text-align: center;
  font-weight: normal;
  padding: 1rem;
}

.dinamic-date{
  font-size: 0.8rem;
  color: #6B708D;
  text-align: center;
  font-weight: normal;
  padding: 1rem;
}

.dinamic-img {
  width: 100%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.dinamic-text {
  color: #6B708D;
  font-size: 1rem;
  padding: 1rem;
}

.projects-title {
  color: #072AC8;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

/* ELEMENTS ADDED IN TABLET AND DESKTOP VERSIONS */

.floating-card-1, .floating-card-2 {
  display: none;
}

.lorem-project {
  display: none;
}

.emoji-1, .emoji-2, .emoji-3, .emoji-4 {
  display: none;
}

/* --- TABLET (768) STYLES --- */

@media (min-width: 768px) {
  
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .header-cont-1 {
    display: flex;
    flex: 1;
  }
  
  .header-cont-2 {
    display: flex;
    flex: 3;
    justify-content: flex-end;
   }

   .header-cont-3 {
    display: none;
  }
  
  #nav-menu {
    display: flex;
    margin: 0;
    padding: 0; 
  }

  #nav-menu ul {
    display: flex;
    gap: 4rem;
  }  
  
  #hero {
    display: flex;
    width: 100%;
    padding: 0rem;
    flex-direction: row;
    padding: 2rem 0rem 2rem 0rem;
  }

  .hero-cont-1 {
    display: flex;
    width: 60%;
    padding: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .hero-cont-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .hero-cont-1 h1 {
    font-size: 2.5rem;
  }

  .hero-cont-links {
    padding-bottom: 0rem;
  }

  .hero-cont-2 {
    width: 40%;
    display: relative;
    position: relative;
    padding-right: 2rem;
    overflow: hidden;
  }
  
  .hero-main {
    width: 100%;
    padding: 0rem;
    display: block;
    border-radius: 1rem;
  }

  .floating-card-1 {
    display: block;
    position: absolute;
    width: 10rem;
    height: auto;
    top: 3rem;
    right: 11rem;
  }

  .floating-card-2 {
    display: block;
    position: absolute;
    width: 10rem;
    height: auto;
    bottom: -2rem;
    left: 9rem;
  }

  #logos {
    padding: 3rem 0rem 3rem 0rem;
  }

  .lorem-project {
    display: flex;
  }

  .projects {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .projects a {
    width: 50%;
    padding: 0rem 1rem 0rem 1rem;
  }
  
  #testimonials {
    margin: 5rem 0rem;
  }

  .testimonials-cont {
    position: relative;
    margin: 0rem;
    padding: 5rem 0rem 5rem 0rem;
  }

  .testimonials-cont h4 {
    padding: 1rem 10rem 2rem 10rem;
  }

  .emoji-1, .emoji-2, .emoji-3, .emoji-4 {
    display: block;
    position: absolute;
    width: 5rem;
  }

  .emoji-1 {
    top: 5%;
    left: 5%;
  }

  .emoji-2 {
    top: 5%;
    right: 5%;
  }

  .emoji-3 {
    bottom: 5%;
    left: 5%;
  }

  .emoji-4 {
    bottom: 5%;
    right: 5%;
  }

  #services {
    margin-bottom: 5rem;
  }

  .services-cont {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .newsletter-cont {
    margin: 1rem 0rem 0rem 0rem;
  }

  .news-form {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .input-box {
    margin-bottom: 0rem;
  }

  #footer form {
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
    flex-direction: row;
  }

  .footer-cont-1 {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-cont-1 img{
    padding: 2rem;
  }

  .footer-cont-1 p {
    text-align: left;
    padding: 0rem 2rem 2rem 2rem;
  }
  
  .footer-cont-2 {
    flex: 2;
  }
  
  .footer-cont-2 li {
    width: 33%;
    padding: 1rem;
  }

  .input-group img {
    display: flex;
    position: absolute;
    width: 1.5rem;
    left: 88vw;
    top: 4vh;
  }
}

/* Estilos para desktop (pantallas grandes) */
@media (min-width: 1024px) {

  #header {
    margin: 0;
    padding: 2rem 2rem 1rem 2rem;
  }

  .header-cont-1 img {
    width: 6rem;
    margin-left: 2rem;
    height: auto;
  }

  .header-cont-2 a {
    font-size: 1rem;
    margin-right: 2rem;
  }

  .nav-button {
    margin-left: 4rem;
  }

  #hero {
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
  }

  .hero-cont-1 h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bolder;
  }

  .hero-cont-1 p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: lighter;
  }

  .floating-card-1 {
    width: 15rem;
    right: 13rem;
  }

  .floating-card-2 {
    width: 15rem;
    left: 10rem;
    top: 16rem;
  }

  #logos {
    padding: 5rem 0rem 5rem 0rem;
  }

  .lorem-project {
    display: none;
  }

  #projects-feed {
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
  }

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .testimonials-cont h2 {
    font-size: 2rem;
    padding: 2rem;
  }

  .testimonials-cont h4 {
    font-size: 1.5rem;
    padding: 2rem 13rem 5rem 13rem;
  }

  .review img {
    width: 10rem;
    height: auto;
  }

  .review p {
    font-size: 1.5rem;
  }

  .emoji-1, .emoji-2, .emoji-3, .emoji-4 {
    width: 8rem;
  }
  
  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .services-cont {
    width: 30vw;
    margin: 0rem 2rem 0rem 2rem;
  }
}

 